{% extends 'DroseraAdminBundle::layout.html.twig' %}

{% block content %}
    <h1>Seznam uživatelských skupin</h1>
    {% if app.session.hasFlash('success') %}
        <div>
            {{ app.session.flash('success') }}
        </div>
    {% endif %}
    <div>
        {% render "DroseraUserBundle:UserGroup:filterMenu" %}
    </div>
    {% if is_expr_granted("hasRole('ROLE_USER_GROUPS_CREATE')") %}
        <a href="{{ path('drosera_user_admin_user_group_create') }}">Vytvořit uživatelskou skupinu</a> 
    {% endif %}
    <table>
        <tr>
            <th>Název</th>
            <th>Počet uživatelů</th>
            <th>&nbsp;</th>
            {% if is_expr_granted("hasRole('ROLE_USER_GROUPS_DELETE')") %}
                <th>&nbsp;</th>
            {% endif %}
        </tr>
        {% for group in userGroups %}
            <tr>
                {% if is_expr_granted("hasRole('ROLE_USER_GROUPS_EDIT')") %}
                    <td><a href="{{ path('drosera_user_admin_user_group_edit', {'id':group.id}) }}">{{ group.name }}</a></td>
                {% else %}
                    <td><a href="{{ path('drosera_user_admin_user_group_detail', {'id':group.id}) }}">{{ group.name }}</a></td>
                {% endif %}
                <td>
                    {% if (group.users | length) and is_expr_granted("hasRole('ROLE_USERS_VIEW')") %}
                        <a href="{{ path('drosera_user_admin_user_list', {'user_group':group.id}) }}">{{ group.users | length }}</a>
                    {% else %}
                        {{ group.users | length }}
                    {% endif %}
                </td>
                {% if is_expr_granted("hasRole('ROLE_USER_GROUPS_EDIT')") and not(group.isSystem)  %}
                    <td><a href="{{ path('drosera_user_admin_user_group_edit', {'id':group.id}) }}">Upravit</a></td>
                {% else %}
                    <td><a href="{{ path('drosera_user_admin_user_group_detail', {'id':group.id}) }}">Detail</a></td>
                {% endif %}
                {% if is_expr_granted("hasRole('ROLE_USER_GROUPS_DELETE')") %}
                    <td>
                        {% if not(group.isSystem) %}
                            <a href="{{ path('drosera_user_admin_user_group_remove', {'id':group.id}) }}">Odstranit</a>
                        {% endif %}    
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        <tr>
            <th>Název</th>
            <th>Počet uživatelů</th>
            <th>&nbsp;</th>
            {% if is_expr_granted("hasRole('ROLE_USER_GROUPS_DELETE')") %}
                <th>&nbsp;</th>
            {% endif %}
        </tr>
    </table>
{% endblock %}