{% extends 'DroseraAdminBundle::layout.html.twig' %}

{% block content %}
    <h1>Seznam uživatelů</h1>
    {% if app.session.hasFlash('success') %}
        <div>
            {{ app.session.flash('success') }}
        </div>
    {% endif %}
    <div>
        {% render "DroseraUserBundle:User:filterMenu" %}
    </div>
    {% if is_expr_granted("hasRole('ROLE_USERS_CREATE')") %}
        <a href="{{ path('drosera_user_admin_user_create') }}">Vytvořit uživatele</a> 
    {% endif %}
    <table>
        <tr>
            <th>Login</th>
            <th>Jméno</th>
            <th>E-mail</th>
            <th>Uživatelská skupina</th>
            <th>&nbsp;</th>
            {% if is_expr_granted("hasRole('ROLE_USERS_DELETE')") %}
                <th>&nbsp;</th>
            {% endif %}
        </tr>
        {% for user in users %}
            <tr>
                {% if is_expr_granted("hasRole('ROLE_USERS_EDIT')") %}
                    <td><a href="{{ path('drosera_user_admin_user_edit', {'id':user.id}) }}">{{ user.username }}</a></td>
                {% else %}
                    <td><a href="{{ path('drosera_user_admin_user_detail', {'id':user.id}) }}">{{ user.username }}</a></td>
                {% endif %}
                {% if is_expr_granted("hasRole('ROLE_USERS_EDIT')") %}
                    <td><a href="{{ path('drosera_user_admin_user_edit', {'id':user.id}) }}">{{ user.fullname }}</a></td>
                {% else %}
                    <td><a href="{{ path('drosera_user_admin_user_detail', {'id':user.id}) }}">{{ user.fullname }}</a></td>
                {% endif %}
                <td>{{ user.email }}</td>
                <td><a href="{{ path('drosera_user_admin_user_list', {'user_group':user.usergroup.id}) }}">{{ user.usergroup }}</a></td>
                {% if is_expr_granted("hasRole('ROLE_USERS_EDIT')") %}
                    <td><a href="{{ path('drosera_user_admin_user_edit', {'id':user.id}) }}">Upravit</a></td>
                {% else %}
                    <td><a href="{{ path('drosera_user_admin_user_detail', {'id':user.id}) }}">Detail</a></td>
                {% endif %}
                {% if is_expr_granted("hasRole('ROLE_USERS_DELETE')") %}
                    <td>
                        {% if loggedUser.id != user.id %}
                            <a href="{{ path('drosera_user_admin_user_remove', {'id':user.id}) }}">Odstranit</a>
                        {% endif %}    
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        <tr>
            <th>Login</th>
            <th>Jméno</th>
            <th>E-mail</th>
            <th>Uživatelská skupina</th>
            <th>&nbsp;</th>
            {% if is_expr_granted("hasRole('ROLE_USERS_DELETE')") %}
                <th>&nbsp;</th>
            {% endif %}
        </tr>
    </table>
{% endblock %}