{% extends 'DroseraAdminBundle::layout.html.twig' %}

{% block content %}
    <h1>Uživatelé - koš</h1>
    {% if app.session.hasFlash('success') %}
        <div>
            {{ app.session.flash('success') }}
        </div>
    {% endif %}
    <a href="{{ path('drosera_user_admin_user_empty_trash') }}" onclick="return confirm('Opravdu si přejete vysypat koš?');">Vysypat koš</a> 
    <table>
        <tr>
            <td>Login</td>
            <td>Jméno</td>
            <td>E-mail</td>
            <td>Uživatelská skupina</td>
            <td>Datum odstranění</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.usergroup }}</td>
                <td>{{ user.timeTrashed | date('d.m.Y H:i:s') }}</td>
                <td><a href="{{ path('drosera_user_admin_user_restore', {'id':user.id}) }}">Obnovit</a></td>
                <td><a href="{{ path('drosera_user_admin_user_delete', {'id':user.id}) }}" onclick="return confirm('Opravdu si přejete odstranit uživatele?');">Odstranit</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5"><em>Koš je prázdný..</em></td>
            </tr>
        {% endfor %}
        <tr>
            <td>Login</td>
            <td>Jméno</td>
            <td>E-mail</td>
            <td>Uživatelská skupina</td>
            <td>Datum odstranění</td>
        </tr>
    </table>
{% endblock %}