<table>
    {% for cred in credentials %}
        <tr>
            <th colspan="{{ cred.subcredentials | length }}">{{ cred.label }}</th> 
        </tr>
        <tr>
            {% for subcred in cred.subcredentials %}
                {% set credentialName = (cred.name ~ '_' ~ subcred.name) %}
                <td>
                    {% if credentialName in grantedCredentials %}
                        <a href="#" onclick="revoke('{{ credentialName }}')" id="{{ credentialName }}" style="background-color: green">{{ subcred.title }}</a>
                    {% else %}
                        <a href="#" onclick="grant('{{ credentialName }}')" id="{{ credentialName }}" style="background-color: red">{{ subcred.title }}</a>
                    {% endif %}
                </td> 
            {% endfor %}
        </tr>
    {% endfor %}
</table>
        