{% extends 'DroseraAdminBundle::layout.html.twig' %}

{% block content %}
    <h1>Nastavení práv</h1>
    {% if app.session.hasFlash('success') %}
        <div>
            {{ app.session.flash('success') }}
        </div>
    {% endif %}
    <form action="{{ path('drosera_user_admin_credentials') }}" method="post" {{ form_enctype(form) }}>
        <table>
            <tr>
                <td colspan="5">{{ form_row(form.user_group) }}</td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>{{ form_label(form.user_view) }}</th>
                <th>{{ form_label(form.user_edit) }}</th>
                <th>{{ form_label(form.user_create) }}</th>
                <th>{{ form_label(form.user_delete) }}</th>
            </tr>
            <tr>
                <td>Uživatelé</td>
                <td>{{ form_widget(form.user_view) }}</td>
                <td>{{ form_widget(form.user_edit) }}</td>
                <td>{{ form_widget(form.user_create) }}</td>
                <td>{{ form_widget(form.user_delete) }}</td>
            </tr>
            <tr>
                <td colspan="5"><input type="submit" value="Uložit" /></td>
            </tr>
        </table> 
        {{ form_rest(form) }}
    </form>
{% endblock %}