{% extends 'DroseraAdminBundle::layout.html.twig' %}

{% block content %}
    <h1>Nastavení práv</h1>
    {% if app.session.hasFlash('success') %}
        <div>
            {{ app.session.flash('success') }}
        </div>
    {% endif %}
    <form action="#" method="post" {{ form_enctype(form) }}>
        {{ form_row(form.user_group) }}
        {{ form_rest(form) }}
    </form>
    <div id="credentials-box"></div>
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/droserauser/js/credentials.js') }}" type="text/javascript"></script>
{% endblock %}